@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.imgbg{
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: 0;
}

.profile-landing{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 1000px;
    margin-right: 120px;
}

.about-me{
    padding-bottom: 60px;
    padding-top: 10px;
}

.prev-project{
    padding-top: 10px;
    padding-bottom: 60px;
}
.project{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
}
.project-desc{
    width: 600px;
}